{% extends 'all-clone/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container" style="margin-top:7%;">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-7">
          
          <div class="row">
          </div>
            {% for image in images %}
            <div class="card mb-4">
                <div class="card-title">
                    <img src="/static/images/profile.png" class="rounded-circle border ml-3 mt-2  mr-3"
                         alt="" width="35" height="35">
                    <a style="text-decoration: none;color:#000"href="" class="mt-4 user"></a>
                </div>
                <div class="card-body mb-4">
                    <a href=""><div class="card-text">
                        <img src="{{image.image.url}}" class="card-img" width="100%"/>
                    </div></a>
                </div>
                <div class="iconic ml-2">
                    <button class="btn btn-sm" type="submit" name="image_id" value="{{image.id}}">
                        <a href=""><img style="width:30px;height:30px;" src="/static/images/like.png" alt="like">
                        </a>
                    </button>
                    <button class="btn btn-sm" type="submit"><a href="{"><img style="width:30px;height:30px;" src="/static/images/comment.png">
                    </a></button>
                </button>
                <button class="btn btn-sm" type="submit"><a href="/"><img style="width:30px;height:30px;" src="/static/images/share.png">
                </a></button>
                </div>
                <span class="text-dark" style="margin-left: 25px;">{{image.image_caption}}</span>
                <span class="ml-4 mb-1"><strong></strong></span>
                <span class="text-secondary ml-4 viewall"><a href="">view all comment</a></span>
                <div class="allcomments mb-4">
                    
                    <div class="comment">
                        <div class="ml-4"><strong></strong> <span
                                class="text-secondary"></span>
                        </div>
                    </div>
                    
                    <p class="text-secondary ml-4"></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 mt-4 userinfo">
            <div class="row">
                <div class="col-md-3 ml-2">
                    <img class="rounded-circle user-img" src="">
                </div>
                <div class="col-md-6 mt-4 user-detail">
                    <span class=" text-secondary"><a style="text-decoration: none;color: #000;" href=</a></span> <br>
                    <span class=" inname text-secondary"></span>
                </div>
            </div>
            <div class="row" style="margin-top:12px;">
                <div class="col-md-10">
                    <div class="">
                        <div class="text-secondary" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-weight: 900;font-size:small;">Suggestions For You</div>
                        {% for user in users %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 mr-3 mt-1 mb-2">
                                    <img class="rounded-circle" src=""
                                    width="45px" height="45px">
                                </div>
                                <div class="col-md-6 mr-2 mt-2">
                                    <span><a style="text-decoration: none; color:#000;" href=""></a></span>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="text-secondary mt-5" style="font-size:x-small;">About.Help.Press.Api.Jobs.Privacy.Terms.<br>Locations.Top Accounts.Hashtags.Language<br><br>© 2021 Instagram From Vickie Shiraa</div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>


        </div>

    </div>
</div>

{% endblock %}