<style>
  @import url('http://fonts.cdnfonts.com/css/billabong');
</style>

  <nav id="ig" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- main nav -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <!-- logo -->
        <a style="color:#000000;font-weight:lighter;font-family: Billabong;margin-left: 170px;font-size:25px;" class="navbar-brand logo" href="/">
          Instagram
        </a>
        <!-- /logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="navbar-form" role="searchform" action="{% url 'search.post' %}">
            <input style="height: 25px; font-size:15px;margin-left: 140px;width: 190px;background-color: rgba(228, 225, 225, 0.541);" name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder="Search">
       </form>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item ">
                <a href="/"><img style="width:20px;height:20px;margin-left:30px" src="/static/images/home.png"></a>
            </li>
            <li class="nav-item ">
                <a href="/"><img style="width:20px;height:20px;margin-left:30px" src="/static/images/like.png"></a>
            </li>
            <li class="nav-item ">
                <a href="/profile/"><img style="width:20px;height:20px;margin-left:30px" src="/static/images/profile.png"></a>
            </li>
            <li class="nav-item ">
                <a href="/logout/"><img style="width:20px;height:20px;margin-left:30px" src="/static/images/logout.png"></a>
            </li>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>